/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: goldenrod;
  background: url('https://i.ytimg.com/vi/tDvjQp1BaWA/maxresdefault.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: brown;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
